.team {
    text-align: center;
    padding: 24px;
    background-color: #D9F7E9;
}

.team h3 {
    font-size: 32px;
    border-bottom: 4px solid #57C278;
    display: inline-block;
    padding-bottom: 8px;
}
